.popup__submit-button {
    background: #E5266E;
    border: 1px #E5266E solid;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    transition: all .4s linear;
    margin-top: 50px;
    margin-bottom: 15px;
    height: 48px;
}

.popup__submit-button:hover {
    opacity: .9;
    scale: 1.01;
}