.section__button {
    margin-bottom: 1649px;
    background-color: transparent;
    border: 1px solid #E5266E;
    color: #E5266E;
    border-radius: 4px;
    width: 147px;
    height: 48px;
    margin: 30px auto 2000px 30px;
    transition: all .5s linear;
}

.section__button:hover {
    opacity: .5;
    cursor: pointer;
}

.section__button:active {
    background-color: #E5266E;
    color: white;
}